name: Windows MSVC Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone vcpkg
        run: git clone https://github.com/microsoft/vcpkg.git vcpkg

      - name: Bootstrap vcpkg
        run: .\vcpkg\bootstrap-vcpkg.bat
        
      - name: Configure VCPKG_ROOT env var
        run: echo "VCPKG_ROOT=${{ github.workspace }}\vcpkg" >> $env:GITHUB_ENV
                  
      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build solution
        run: msbuild msvc/dataforge_tests.sln /p:Configuration=Release

      - name: Run tests
        run: |
          cd msvc/x64/Release
          PATH=%PATH%;${{ github.workspace }}\vcpkg_installed\x64-windows\bin;.\dataforge_tests.exe
